<div class="container">
  <h1>All Students</h1>
  <br>
  <div class="row">
    <% @students.each_with_index do |student, index| %>
      <div class="col-xs-12 col-sm-4 ">
        <h4>No. <%= index+1 %> - <%= student.first_name %> <%= student.last_name %></h4>
        <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <br>
      </div>
    <!-- add student & teacher details here -->
    <% end %>
  </div>
</div>
